<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="surname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required type="password" [(ngModel)] = "password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="singUp()" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
