<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      TO DO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="presentModalTodo()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="presentProfile()">
        <ion-icon name="finger-print-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card *ngFor="let item of this.dataBase._userActive._todos">
    <div *ngIf="!item.done">
      <ion-item>
        <ion-toggle color="danger" (click)="presentAlert(item)"></ion-toggle>
          <ion-button slot="end" color="danger" (click)="presentAlertDelete(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
      </ion-item>
      
        <ion-button expand="block" color="primary" (click)="presentAlertEdit(item)">
          <ion-icon slot="icon-only" name="color-wand-outline"></ion-icon>
        </ion-button>
      
      <ion-card-content>{{item.msg}}</ion-card-content>
    </div>
  </ion-card>
</ion-content>
